{% embed 'partials/base.html.twig' %}

    {% block content %}

        <section class="section-pad">
          <div class="container">
            {{ page.content }}
          </div>
        </section>

    {% endblock %}

{% endembed %}
