<div class="section-pad cream-bg about-bg">
    <div class="container">
        <div class="row">
            <div class="five columns headshot-pad">
                    {{ page.media['kelley-headshot.png'].html('My title', 'Some ALT text', 'headshot') }}
            </div>
            <div class="seven columns">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>
