<div class="container">
    <div class="row">
        <div class="five columns headshot-pad">
            <div class="feature-items">
                <img src="" alt="" />
            </div>
        </div>
        <div class="seven columns">
            <h2 class="subtitle-right about">{{ about.header }}</h2>
            <p>{{ page.content }}</p>
        </div>
    </div>
</div>
