     <script>
            $(function(){
            $("#typed").typed({
            stringsElement: $('#typed-strings')
                });
            });
</script>
<div class="container">
    <div class="row">
        <div class="">
            <div class="element opening-heading">
                <div id="typed-strings">  
                    <p>{{ page.typing }}</p>
                </div>
                <span id="typed"></span>
            </div>
        </div>
        <p class="opening-text">{{ page.header.text }}</p>
    </div>
</div>
