<section class="work-post-cta cream-gradient-bg section-pad">
    <div class="row container">
        <div class="five columns">
            <h4>Enjoying my content?</h4>
            <a href="{{ base_url == '' ? '/' : base_url }}#contact"><button class="button-dark" type="button">Contact Kelley!</button></a>
        </div>
        <div class="seven columns">
            <div class="six columns work-post-carousel left">
                <div class="post-nav">Previous Sample</div>
                <a href="#">
                    <div class="work-post-circle"></div>
                    <h6 class="work-post-carousel-heading">Project name with hopefully two lines</h6>
                </a>
            </div>
            <div class="six columns work-post-carousel right">
                <div class="post-nav">Next Sample</div>
                <a href="#">
                    <div class="work-post-circle u-pull-right"></div>
                    <h6 class="work-post-carousel-heading">Project name with hopefully two lines</h6>
                </a>
            </div>
        </div>
    </div>
</section>